
# Printify API Configuration
PRINTIFY_API_URL=https://api.printify.com/v1
PRINTIFY_API_TOKEN=


# Server Configuration
PORT=3004
NODE_ENV=development

# Clerk Authentication
CLERK_JWT_KEY=

CLERK_ISSUER_URL=https://measured-raven-55.clerk.accounts.dev
CLERK_JWKS_URL=https://measured-raven-55.clerk.accounts.dev/.well-known/jwks.json

